## Pandas - Dataframes

- [Pandas](#Pandas): Python's most important dataframing library
- [Tidiness and method chaining](#Tidiness-and-method-chaining)

Languages developed primarily for statistics are using rich data structures that are available also in Python. One of the most important modules to use in Pandas. First have a look at [Pandas API][1]. Do you recognize some of these structures and can you name equivalent functionality from other languages like R or tabular computing programs like Excel? Pandas can do everything Excel does and then some more, like SQL interogation and advanced statistics through its scipy/numpy modules integration and matplotlib visualization. Moreover, for those with a background into R, Pandas has a similar synthax and can be used interchangeably with R in Python itself through the rpy2 module.

R related functionality:
- http://pandas.pydata.org/pandas-docs/dev/comparison_with_r.html
- http://pandas.pydata.org/pandas-docs/dev/r_interface.html

Main documentation entry points:
- https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html 


Next is a small hands-on introduction, with tips on creation, selection, filtering and grouping.

[1]: http://pandas.pydata.org/pandas-docs/dev/api.html

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

s = pd.Series([1, 9, 2, 10, np.nan, 6])
df1 = pd.DataFrame(np.random.randn(3,5),index=s[1:4],columns=list('ABCDF'))
df2 = pd.DataFrame({'number' : 1.,
                    'dates' : pd.date_range('20150720',periods=4),
                    'floats' : pd.Series(0.25,index=list(range(4)),dtype='float32'),
                    'integers' : np.array([3] * 4,dtype='int32'),
                    'cathegories' : pd.Categorical(["test","train","test","train"]),
                    'string' : 'foo' })

print(df2)
print(type(df2.values))

   number      dates  floats  integers cathegories string
0     1.0 2015-07-20    0.25         3        test    foo
1     1.0 2015-07-21    0.25         3       train    foo
2     1.0 2015-07-22    0.25         3        test    foo
3     1.0 2015-07-23    0.25         3       train    foo
<class 'numpy.ndarray'>

In [6]:
df1.sort_values(by='B')

             A         B         C         D         F
2.0  -0.179413  0.175344 -0.853393  0.058743 -0.928096
10.0 -0.562923  0.427126 -0.606615 -0.314992  0.499882
9.0  -1.116116  1.048214 -0.829268 -0.450177  2.937480

In [5]:
# Description

print(df2.dtypes)
#try tab completion, column labels can be easily retrieved
#df2.
df2.head(2)
df1.describe()
df1.T
#sort by axis
#print(df1.sort_index(axis=0, ascending=False))
#sort by values
#print(df1.sort(columns='B'))

number                float64
dates          datetime64[ns]
floats                float32
integers                int32
cathegories          category
string                 object
dtype: object

       9.0       2.0       10.0
A -0.787454 -0.765480 -2.033847
B -0.190877  0.261963  0.150793
C  0.594649  0.856377  0.195765
D -0.635522  0.273237 -0.563028
F  0.304887 -1.044408  0.874286

In [13]:
# Selection and slicing. And filtering.
df1 = pd.DataFrame(np.random.randn(3,5),index=s[1:4],columns=list('ABCDF'))
# selection by labels
#df1
#df1['A']
#df1.A
#print(df1[0:2])
df1.loc[2:10,['A','B']]
#print df1.loc[2,'A']

             A         B
2.0   0.776222  1.519814
10.0  0.385811  0.044610

In [23]:
df1.loc[2:10,['A','B']]

           A         B
2  -0.679790 -1.774782
10  0.761237 -0.367952

In [19]:
# selection by position
#df1
#df1.iloc[2]
#df1.iloc[0:2,0:3]
#df1.iloc[[1,2,],[0,2]]
print(df1)
df1.iloc[1,1]

             A         B         C         D         F
9.0   1.489061  0.233563 -1.425374 -1.935047  0.314065
2.0   0.776222  1.519814 -0.838998  0.398798 -1.709546
10.0  0.385811  0.044610 -1.041533  1.266857  1.133820

1.5198138664523637

In [21]:
# filter by boolean test
#print df1
#print df1[df1.A > 0.1]
#print df1[df1 > 0.1]
print(df1[(df1['A'] > 0.1) & (df1['B']>0.2)])

            A         B         C         D         F
9.0  1.489061  0.233563 -1.425374 -1.935047  0.314065
2.0  0.776222  1.519814 -0.838998  0.398798 -1.709546

In [22]:
s = pd.Series([1, 9, 2, 10, np.nan, 6])
df1 = pd.DataFrame(np.random.randn(3,5),index=s[1:4],columns=list('ABCDF'))
# filter by values
df3 = df1.copy()
df3['mask']=['one','one','two']
df3['test'] = [1, 2, 3]
print(df3)
print(df3[df3['mask'].isin(['one'])])
#df1.dropna()

df1['test2'] = df3['test']
#print df1

             A         B         C         D         F mask  test
9.0   0.860532 -0.016485  2.227145  0.446174 -0.964432  one     1
2.0   0.963801 -1.618940 -1.333987 -0.398223 -0.244665  one     2
10.0 -0.766295 -1.518846  1.198762 -0.071410 -0.568117  two     3
            A         B         C         D         F mask  test
9.0  0.860532 -0.016485  2.227145  0.446174 -0.964432  one     1
2.0  0.963801 -1.618940 -1.333987 -0.398223 -0.244665  one     2

In [31]:
# Setting values by label, position and numpy array

df1.loc[:,'A'] = 0
df1.iat[0,1] = 5
df1.loc[:,'D'] = np.array([10] * len(df1))
print df1

    A         B         C   D         F
9   0  5.000000  0.659238  10  0.268067
2   0  0.068065  0.537079  10 -0.930164
10  0  0.277067 -0.435075  10  0.519541

In [41]:
# Categories and grouping
s = pd.Series([1, 9, 2, 10, np.nan, 6])
df1 = pd.DataFrame(np.random.randn(3,5),index=s[1:4],columns=list('ABCDF'))
df3 = df1.copy()
df3['mask']=['one', 'one','two']
df3["vtype"] = df3["mask"].astype("category")
print df3
print df3["vtype"]
df3["vtype"].cat.categories = ["nice", "nasty"]
print df3
print df3.groupby("vtype").size()

           A         B         C         D         F mask vtype
9  -0.969339 -1.247162 -0.172333 -1.604282 -0.720619  one   one
2  -1.096683  0.984533  0.228007  1.707215  0.884176  one   one
10 -0.208973 -0.147277 -0.031264 -0.524877 -0.172902  two   two
9     one
2     one
10    two
Name: vtype, dtype: category
Categories (2, object): [one < two]
           A         B         C         D         F mask  vtype
9  -0.969339 -1.247162 -0.172333 -1.604282 -0.720619  one   nice
2  -1.096683  0.984533  0.228007  1.707215  0.884176  one   nice
10 -0.208973 -0.147277 -0.031264 -0.524877 -0.172902  two  nasty
vtype
nice     2
nasty    1
dtype: int64

In [28]:
# Basic operations
s = pd.Series([1, 9, 2, 10, np.nan, 6])
df1 = pd.DataFrame(np.random.randn(3,5),index=s[1:4],columns=list('ABCDF'))
df1['diff'] = df1.A - df1.B
df1['A'].map(lambda x : 10 * x)
print df1.applymap(np.sqrt)
print df1.apply(np.sqrt, axis = 1)
print df1.apply(np.sum, axis = 1)

           A         B         C         D        F      diff
9   0.866943  0.542561  1.018572       NaN      NaN  0.676178
2   0.643135  0.705118  0.953981  0.264569      NaN       NaN
10  1.205045  1.545023       NaN       NaN  0.55412       NaN
           A         B         C         D        F      diff
9   0.866943  0.542561  1.018572       NaN      NaN  0.676178
2   0.643135  0.705118  0.953981  0.264569      NaN       NaN
10  1.205045  1.545023       NaN       NaN  0.55412       NaN
9    -0.499315
2     1.365650
10    1.990501
dtype: float64

Task:
- Write a function to create a dataframe out of this gene dictionary below, using the name as an index.
- Remove genes having undefined expression.
- Add a "seq_quality" column what will place an additional "yes/no" mask to genes whose read counts are above 1.
- Filter out genes that fail on both the qualify and seq quality.

For the finer points, try to be as short as possible! Lots of code makes room for errors and it is hard to read/reproduce.

In [2]:
import numpy as np

gene_table = {'name': ["G"+str(i) for i in range(10)],
'expression': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'read_counts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

## Tidiness and method chaining

As data science became a thing and armies of analists entered the workforce, python and r dataframes developed two new concepts. Tidiness was a [well known concept][1] to database programmers, but data scientists were either inexperienced programmers or people from other backgrounds who started to program.

Tidiness rules are as follows:
- Each variable forms a column
- Each observation forms a row
- Each type of observational unit forms a table

The general idea is that when working with input data you should not use the garbled mess in which the data is at first loaded. Instead you should extract the pieces of information that are needed for your study, and multiple types of observational units must form different dataframes. Why is this so important after all? Because computers are not statisticians, the dataframe concept is unnatural to them. What they can work much better with are memory addresses and values. Having a tidy dataframe eases their work, and it affects reproducibility as well! Getting to a tidy format early on is also useful to separate data munging from data analysis, leading to a cleaner and faster workflow.

While tidiness has to do with data, the second concept of method chaining has to do with a cleaner syntax. The best way to understand how that works is by using the task completed above on following template:

[1]: https://en.wikipedia.org/wiki/First_normal_form

In [ ]:
import pandas as pd

def proccess(dict):
    df = (pd.Dataframe()
            .pipe(create_matrix)
            .pipe(rem_undefined)
            .pipe(add_seq_quality)
            .pipe(filter_qualify_seq_quality))    
    return df

def create_matrix(df, d=None):
    return df

def rem_undefined(df):
    return df

def add_seq_quality(df):
    return df

def filter_qualify_seq_quality(df):
    return df

df = proccess(gene_table)
df

Now, if some of your functions contain a single instruction that doesn't require a lot of coding you can actually replace the pipeline function with the dataframe function itself. This is recommended for readability. Try it!